body {
    background-color: #f1ebe4;  
    color: #333;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #f1ebe4; 
}

.hero-image {
    width: 40%; 
    max-width: 300px; 
    height: auto;
    border-radius: 15px; 
    margin: 0 auto; 
    object-fit: cover;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #333;
}

.hero p {
    font-size: 18px;
    color: #333;
}

.about {
    text-align: center;
}


.about p {
    font-size: 18px;
    line-height: 1.6;
}

@media screen and (min-width: 981px) and (max-width: 1400px) {
    main {
        max-width: 1100px;
        width: 95%;
    }
    img {
        width: 40%;
    }
}


@media screen and (min-width: 601px) and (max-width: 980px) {
    main {
        max-width: 90%;
    }
    img {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
}
    main {
        width: 95%;
    }
    img {
        width: 90%;
    }