
<footer>
    <nav>
        <a href="https://github.com/JustusPurnell">Github</a>
        <a href="https://JustusPurnell.github.io">Github Pages</a>
        <a href="https://webpages.uncc.edu/jpurnel4/">University Webpage</a>
        <a href="/itis3135/index.html">ITIS3135</a>
        <a href="https://www.freecodecamp.org/JustusPurnell">FreeCodeCamp</a>
        <a href="https://www.codecademy.com/profiles/JustusPurnell">Codecademy</a>
        <a href="https://www.linkedin.com/in/justusp/">LinkedIn</a>
    </nav>
    <p>Page Built by <a href="../jpsolutions.html">JP Solutions</a> © 2024. Certified in <a href="https://www.freecodecamp.org/certification/justuspurnell/responsive-web-design"><i>Responsive Web Design</i></a>, Certified in <a href="https://www.freecodecamp.org/certification/justuspurnell/javascript-algorithms-and-data-structures-v8"><i>JavaScript</i></a>.</p>

    <a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">Validator |
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">Jigsaw
    </a>
</footer>


<style>
    footer p{
        font-size: .8rem;
    }
    footer {
    text-align: center;
    background-color: rgb(241, 235, 228); 
}
</style>
