
<h1>Justus Purnell | ITIS3135</h1>
<nav>
    <a href="index.html">Home</a> |
    <a href="introduction.html">Introduction</a> |
    <a href="about.html">About</a> |
    <a href="contract.html">Contract</a> |
    <a href="website_evalutations.html">Evaluations</a> |
    <a href="tables.html">Tables</a> |
    <a href="forms.html">Forms</a> |
    <a href="project_overview.html">Project Overview</a> |
    <a href="hobby/index.html">Midterm</a> |
    <a href="firstscripts.html">Script</a> |
    <a href="stuff.html">Crappy Page</a>
</nav>

<style>
   nav a {
    font-size: 18px;
    padding: 10px; 
    background-color: #333; 
    color: white; 
    text-decoration: none; 
    margin: 5px; 
    display: inline-block; 
    border-radius: 5px; 
}

nav a:hover {
    background-color: #555; 
}

header {
    text-align: center;
    background-color: rgb(241, 235, 228); 
}
</style>

    
